.imgfluid {
  max-width: "100%";
  height: auto;
}
.img-border {
  border-radius: 16;
  border-width: 2px;
  border-color: #2a3947;
  background: #fff;
}
.logo {
  width: auto;
  height: 80;
}
.container {
  background: #122332;
  max-width: "100%";
  height: auto;
}
.topbar .container-fluid {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #122332;
}

.content .container-fluid {
  padding: 1rem;
  background: #122332;
}
.text-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.scan-button{
  border-radius: 16px;
  background: #2a3947;
}
.scan-text {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 16px;
  border-color: #106af3;
  height: 40;
  width: 90;
}

.btn-dark {
  border-radius: 16px;
  border-color: #106af3;
  background: #106af3;
  height: 40;
  width: 90;
}
.btn-buy {
  border-radius: 16px;
  border-color: #106af3;
  background: #106af3;
  height: 40;
  width: 120;
}
.btn-dark img {
  width: 32;
  height: 32;
}

.btn-light {
  border-width: 2;
}

.btn-light p {
  color: #353535;
}

h1 {
  font-size: 56;
  color: #ffffff;
  font-weight: bold;
  font-family: "Space Grotesk";
}
h2 {
  font-size: 48;
  color: #ffffff;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 28;
  font-family: "Space Grotesk", sans-serif;
}

.banner {
  margin-bottom: 24;
}
